[submodule "thirdparty/wiringpi"]
	path = thirdparty/wiringpi
	url = git://git.drogon.net/wiringPi
[submodule "thirdparty/libmicrohttpd"]
	path = thirdparty/libmicrohttpd
	url = https://github.com/ulion/libmicrohttpd.git
