[submodule "thirdparty/wiringpi"]
	path = thirdparty/wiringpi
	url = git://git.drogon.net/wiringPi
[submodule "thirdparty/httplib"]
	path = thirdparty/httplib
	url = https://github.com/yhirose/cpp-httplib.git
